<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.min.css' />
  </head>
  <body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="/">Sabeur</a>

            <div class="nav-collapse collapse">
                <ul class="nav">

                    <li><a href="/about">about</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>