<% include header %>

<div class="container">



<div class="hero-unit">
  <h1><%= heading %></h1>
  <p><%= tagLine %></p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
<% include footer %>
